.md-inline-form  {
	margin-top:40px;
}

md-card > img, md-card > :not(md-card-content) img {
	width:50px;
	display:inline-block;
}

.md-button.md-primary {
	text-align:left;
}

.location {
	color:#fff;
	background:#5C6BC0;
  }

.md-subhead {
	font-weight:bold;
	text-transform: capitalize;
}

.md-subhead .temp{
	font-size: 300%;
    margin-top: 7px;
}

.location md-icon {
    fill: #ffffff;
    color:#fff;
}

.error { 
	color:red;
}

.error md-icon {
    fill: red;
    color: red;
}

footer{
	font-size:60%;
}