<md-card-title ng-if="location.name == null && !apiError">
	<img src="assets/images/spinner.gif"/>
</md-card-title>

<div ng-if="location.name != null && !apiError" >
<md-card-title class="location">
    <md-card-title-text layout="row" layout-align="space-between start">
    	<div flex-gt-xs="50">
        	<span class="md-headline" layout="row">{{location.name}} </span>
			<span class="md-subhead" layout="row">{{location.weather[0].description}}</span>
			<span class="md-subhead" layout="row"><img ng-src="{{iconUrl}}{{location.weather[0].icon}}.png" alt="{{location.weather[0].description}}"/> <span class="temp">{{location.main.temp | number:0}}</span>&#8451;</span>
        </div>
        <div>
       		 <span class="md-subhead"><md-icon icon="access_time">access_time</md-icon> {{location.dt * 1000 | date : 'EEEE HH:mm'}}</span>
        </div>
  	</md-card-title-text>
</md-card-title>
<md-card-content>
	<md-list>
		<md-list-item>
			<p><strong>Humidity:</strong> {{location.main.humidity}}%</p>
		</md-list-item>
		<md-divider></md-divider>
		<md-list-item>
			<p><strong>Wind:</strong> {{location.wind.speed * 3.6 | number:0}}km/hr</p>
		</md-list-item>
		<md-divider></md-divider>
		<md-list-item>
			<p><strong>Visibility:</strong> {{location.visibility / 1000 | number:0}} km</p>
		</md-list-item>
		<md-divider></md-divider>
		<md-list-item>
			<p><strong>Pressure:</strong> {{location.main.pressure}} mbar</p>
		</md-list-item>
	</md-list>
</md-card-content>
</div>
<md-card-title ng-if="apiError">
	<p class="md-headline error" layout="row"><md-icon icon="error_outline">error_outline</md-icon> This city could not be found!</p>
</md-card-title>


