<form class="md-inline-form" name="">
	<div layout="row" layout-margin flex>
        <md-input-container class="md-block" flex-gt-xs>
		    <label><md-icon icon="add_location">location_on</md-icon>Add a city to your list</label>
		    <input ng-model="cities.city" class="add">
		</md-input-container>
		<md-button type="submit" class="md-fab" aria-label="add" ng-click="addCity()"><md-icon icon="add">add</md-icon></md-button>
	</div>
</form>
<md-list>
    <md-list-item class="md-3-line" ng-if="alreadyExists">
    	<p class="error"><md-icon icon="error_outline">error_outline</md-icon> You have already added this location!</p>
    </md-list-item>
    <md-list-item class="md-3-line" ng-repeat="city in cities" track by $index>
      <div class="md-list-item-text">
    		<a class="md-primary md-button md-ink-ripple" ng-href="#{{city}}"><md-icon icon="location_on">location_on</md-icon><span class="ng-scope">{{city}}</span><div class="md-ripple-container"></div></a>
			<md-button class="md-secondary" ng-click="remove(city)">Remove</md-button>
        	<md-divider ng-if="!$last"></md-divider>
    </mid-list-term>
</md-list>
